table {
    border: 5px solid black;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 2px black solid;
    padding: 5px;
    text-align: ;
}

th {
    background-color: lightgrey;
}